/*-----------------  ROOT  -----------------*/

:root {
  --red: #b50d0d;
  --lightred: #df2929;
  --gray: #5f758e;
  --shadow: #ced6de;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

/*-----------------  BODY  -----------------*/

body {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.link,
button {
  font: inherit;
  text-decoration: none;
}

.link {
  color: var(--red);
}

.link:hover {
  cursor: pointer;
  color: var(--lightred);
}

button {
  border-radius: 6px;
  background-color: var(--red);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: var(--lightred);
}

/*-----------------  HEADER  -----------------*/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 35px;
  background-color: white;
  padding: 5px;
}

.logo > .link {
  font-size: 28px;
  color: var(--red);
  text-shadow: 1px 1px 2px black;
}

.logo {
  margin: 5px;
  padding-top: 5px;
}

.offscreen-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--red);
  color: white;
  text-align: center;
  height: 100dvh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  z-index: 2;
  transition: 0.3s ease;
  font-weight: 400;
  font-style: normal;
}

nav:has(#ham-toggle:checked) .offscreen-menu {
  right: 0;
}

.offscreen-menu > .link {
  padding: 20px 15px 0 20px;
  color: var(--light);
  font-size: 3rem;
  background: none;
  border: none;
}

.offscreen-menu > .cl-rootBox {
  margin: 20px auto 0 auto;
}

#ham-toggle {
  display: none;
}

nav:has(#ham-toggle:checked) .hamburger-menu span {
  background-color: white;
  z-index: 2;
}

nav:has(#ham-toggle:checked) .hamburger-menu span:nth-child(1) {
  margin-right: 25px;
  top: 55%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.3s ease;
}

nav:has(#ham-toggle:checked) .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

nav:has(#ham-toggle:checked) .hamburger-menu span:nth-child(3) {
  margin-right: 25px;
  top: 45%;
  transform: translate(-50%, 50%) rotate(-45deg);
  transition: 0.3s ease;
}

.hamburger-menu {
  margin: 5px;
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}

.hamburger-menu span {
  height: 5px;
  width: 100%;
  background-color: var(--red);
  border-radius: 25px;
  position: absolute;
  transition: 0.3s ease;
}

.hamburger-menu span:nth-child(1) {
  top: 25%;
}

.hamburger-menu span:nth-child(2) {
  top: 50%;
}

.hamburger-menu span:nth-child(3) {
  top: 75%;
}

.hamburger-menu:hover {
  cursor: pointer;
}

/*-----------------  FOOTER  -----------------*/

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
  padding-top: 5px;
  text-align: center;
  background-color: white;
  color: var(--red);
  text-shadow: 0.5px 0.5px 0.5px black;
  border-top: solid black 35px;
}

.footer-container .link {
  color: var(--cream);
}

.social-icons,
.footer-contact {
  font-size: 20px;
}

.icon {
  padding: 0 2px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3px;
}

.footer-reference {
  font-size: 12px;
  padding: 3px;
}

/*-----------------  LANDING  -----------------*/

.landing-about,
.landing-teaser,
.mission-div,
.about-team,
.about-press,
.current-projects,
.engagements-div,
.previous-works,
.contact-header,
.involved-body,
.engagements-div {
  padding: 5px;
  border-bottom: solid black 35px;
  padding-top: 10px;
}

.landing-about,
.mission-div,
.about-press,
.about-sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  color: white;
}

.latest-news {
  background-color: white;
}

/* .landing-video,
.about-body-one {
  display: none;
} */

.home-teaser-header {
  font-weight: 900;
  font-style: normal;
  padding-bottom: 0;
  font-size: 40px;
  margin: 0 auto;
  text-shadow: 2px 2px 3px black;
  color: white;
}

.teaser-blurb {
  text-shadow: 3px 0 10px black;
  color: white;
  font-size: 20px;
}

/* .brief-bio {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.home-bio-links,
.home-teaser-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.home-bio-links .home-bio-one-link {
  width: 120px;
  height: 40px;
} */

/* .teaser-button {
  width: 220px;
  height: 45px;
  font-size: 22px;
  background-color: var(--red);
  border: solid var(--cream) 1px;
} */

/* .teaser-button:hover {
  background-color: var(--orange);
  cursor: pointer;
} */

/* .landing-top-image {
  height: 225px;
  width: 150px;
  border-radius: 10px;
} */

.landing-teaser {
  background-image: linear-gradient(#dc566854, #dc566854),
    url(/images/scotopia-collage.jpg);
  background-size: cover;
  height: 40dvh;
  text-align: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.latest-news,
.engagements-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  color: white;
  margin: 0 !important;
}

.latest-news .link {
  color: var(--cream);
  font-weight: 600;
}

.one-engagement {
  padding: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.project-tease-image {
  /* height: 6rem;
  width: 6rem; */
  border-radius: 10px;
  margin-bottom: 1rem;
  object-fit: cover;
}

/*-----------------  ABOUT  -----------------*/

/* .about-header,
.projects-header,
.contact-header {
  height: 20dvh;
  color: white;
  background-color: var(--opaguegray);
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid var(--orange) 35px;
} */

.about-body-one {
  display: none;
}

.about-team,
.about-press,
.about-sponsors {
  flex-direction: column;
}

.about-team {
  color: black;
  background: white;
  padding: 5px;
}

.about-press {
  background: var(--red);
}

h3,
h5 {
  font-size: 30px;
  padding-bottom: 12px;
  text-shadow: 1px 1px 2px black;
}

.who-we-are {
  font-size: 22px;
  font-weight: bold;
}

.mission-div {
  flex-direction: column;
  padding: 0 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/shadowday-scotop-hl.jpg");
}

.about-quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 20px !important;
}

/* .about-body {
  display: flex;
  flex-direction: row;
} */

.mission-div p {
  padding-bottom: 20px;
}

.bios-div {
  padding-top: 20px;
}

.team-bio,
.board-bio {
  display: flex;
  flex-direction: column;
  /* border: solid black 1px; */
  border-radius: 6%;
  box-shadow: -2px -2px 10px var(--shadow);
  padding: 10px;
  margin: 10px;
}

.team-bio-one {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 24px;
}

.board-one {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-size: 24px;
}

.board-title {
  font-size: 20px;
}

.board-bio .bio-name {
  padding-bottom: 0;
  padding-left: 5px;
}

.team-bio-two {
  text-align: justify;
  padding: 0 5px;
}

.team-bio-pic {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  /* border: solid var(--cream) 2px; */
}

.bio-name {
  padding-left: 10px;
  padding-bottom: 10px;
}

.press-blurbs {
  display: flex;
  flex-direction: row;
  /* text-wrap: wrap; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.press-div,
.one-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid white;
  border-radius: 6px;
  margin: 3px;
  padding: 5px;
  width: 45dvw;
  height: 27dvh;
  text-align: center;
}

.press-link {
  color: white;
  text-decoration: underline;
}

.press-link:hover {
  color: black;
}

.about-sponsors {
  background: none;
  background-color: white;
  color: var(--red);
}

.sponsor-images {
  text-align: center;
}

.sponsor-image {
  width: 10rem;
  padding-bottom: 10px;
}

/*-----------------  GET INVOLVED  -----------------*/
.contact-container {
  height: 66dvh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/wilm-recon-hl.jpg");
}

.how-to-involved p,
.how-to-involved .link {
  color: white;
  font-size: 26px;
}

.how-to-involved .link {
  font-weight: 600;
}

.how-to-involved {
  text-align: center;
  padding: 55px 15px;
}

/*-----------------  PROJECTS  -----------------*/

.engagements-div {
  color: white;
  padding: 5px;
}

.current-projects,
.previous-works {
  color: black;
  padding: 5px;
}

.engagements-div .link {
  font-size: inherit;
  color: black;
  font-weight: 600;
}

.engagements-div .link:hover {
  color: var(--red);
}

.previous-works {
  border-bottom: none;
}

.current-projects,
.previous-works {
  background: white;
}

.project-teasers-div {
  margin: 10px;
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.projects-container .engagements-div {
  flex-direction: column;
  background-image: none;
  background-color: black;
  color: white;
}

.one-engagement {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  /* justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 1rem; */
  /* border-top: dotted var(--cream) 1px; */
  padding: 20px 10px;
}

.engage-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
  padding-bottom: 15px;
}

.engage-two p {
  text-align: justify;
}

.engage-tease-image {
  height: 9rem;
  width: 9rem;
  border-radius: 6px;
  object-fit: cover;
}

/*-----------------  PROJECT COMPONENT  -----------------*/

.proj-compon-BG {
  background-size: cover;
  background-position: center;
  height: 95dvw;
  width: 90dvw;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-link {
  font-size: 2rem;
  color: white;
}

.one-project {
  width: 100dvw;
  height: 100dvw;
  text-align: center;
  align-items: center;
  border: none;
}

/*-----------------  PROJECT COMPONENT BACKGROUNDS -----------------*/

.scotopia {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/sco-proj.jpg");
}

.scotopia:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/sco-proj.jpg");
}

.oak {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/oak-proj.jpg");
}

.oak:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/oak-proj.jpg");
}

.opioid {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/opioid-proj.jpg");
}

.opioid:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/opioid-proj.jpg");
}

.quilt {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/quilt-proj.jpg");
}

.quilt:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/quilt-proj.jpg");
}

.wilmy {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/wilmrec-proj.jpg");
}

.wilmy:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/wilmrec-proj.jpg");
}

.quilt-prev {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/quilt2223.jpg");
}

.quilt-prev:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/quilt2223.jpg");
}

.wilm-prev {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/wilm-prev.jpg");
}

.wilm-prev:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/wilm-prev.jpg");
}

.out {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/out-nc-proj.jpg");
}

.out:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/out-nc-proj.jpg");
}

.pride {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/pride-picnic-proj.jpg");
}

.pride:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/pride-picnic-proj.jpg");
}

.mixtape {
  background-image: linear-gradient(
      rgba(17, 15, 11, 0.5),
      rgba(17, 15, 11, 0.5)
    ),
    url("/images/mixtape.jpg");
}

.mixtape:hover {
  background-image: linear-gradient(#ced6de70, #ced6de70),
    url("/images/mixtape.jpg");
}

/*-----------------  FULL PROJECT PAGE  -----------------*/

.full-project-page {
  background: var(--red);
  color: white;
  padding: 5px;
}

.full-project-header {
  text-align: center;
}

.full-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.full-project-image {
  width: 80dvw;
  margin-bottom: 10px;
  border-radius: 6px;
}

.full-proj-two {
  text-align: justify;
  margin-bottom: 10px;
}

.full-proj-two p {
  margin-bottom: 20px;
}

/*--------------------- RESPONSIVENESS --------------------------*/

@media screen and (min-width: 650px) {
  /* .home-bio-links .home-bio-one-link {
    width: 10rem;
    height: 3rem;
    font-size: 18px;
  } */

  /* .teaser-button {
    width: 16rem;
    height: 4rem;
    font-size: 26px;
    margin-top: 1rem;
  } */

  .home-teaser-header {
    font-size: 4rem;
  }

  .teaser-blurb {
    font-size: 1.5rem;
  }

  /* .news-image {
    height: 9rem;
    width: 9rem;
  } */

  .press-div {
    width: 30dvw;
  }

  .press-blurb,
  .press-link,
  .project-link {
    font-size: 1rem;
  }

  .engage-tease-image {
    height: 15rem;
    width: 13rem;
  }

  .one-engagement {
    flex-direction: row;
    gap: 20px;
    align-items: start;
  }

  .engage-one {
    flex-direction: column;
  }

  .engage-two p {
    padding: 10px 20px 0 0;
  }

  .sponsor-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10px;
  }

  .sponsor-image {
    width: 12rem;
  }

  .contact-h2 {
    font-size: 1.5em;
  }

  .project-link {
    font-size: 3rem;
  }

  .latest-news {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .one-project {
    width: 45dvw;
    height: 42dvw;
  }

  .proj-compon-BG {
    width: 44dvw;
    height: 42dvw;
  }

  /* .project-teasers-div {
    gap: 1rem;
  } */

  .team-bio-pic {
    height: 8rem;
    width: 8rem;
  }

  .contact-container,
  .mission-div {
    font-size: 22px;
    background-size: cover;
    background-position: center;
  }

  .full-project-container {
    font-size: 18px;
  }

  .contact-container {
    height: 70dvh;
  }

  .how-to-involved {
    padding: 120px 50px;
  }
}

@media screen and (min-width: 860px) {
  .social-icons,
  .footer-contact {
    font-size: 24px;
  }

  .news-image,
  .project-tease-image {
    height: 13rem;
    width: 13rem;
    margin-top: 1rem;
  }

  .landing-about {
    font-size: 18px;
    padding: 10px 20px;
  }

  .news-item,
  .news-item .link,
  .one-engagement,
  .about-body,
  .team-bio-two {
    font-size: 22px;
  }

  .engage-tease-image {
    height: 17rem;
    width: 16rem;
  }

  .about-quote {
    font-size: 24px;
  }

  .landing-teaser {
    font-size: 26px;
    padding: 0 10px;
    text-shadow: 2px 2px 3px gray;
  }

  .home-bio-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20rem;
    margin-top: 2rem;
  }

  .how-to-involved li,
  .how-to-involved p,
  .how-to-involved .link {
    font-size: 30px;
  }

  .how-to-involved h4 {
    font-size: 2rem;
  }

  .full-proj-two p {
    font-size: 1.5rem;
  }
  /* 
  .one-project {
    width: 45dvw;
    height: 360px;
  }

  .proj-compon-BG {
    width: 40dvw;
    height: 340px;
  } */

  .sponsor-image {
    width: 13rem;
  }

  .team-bio-pic {
    height: 9rem;
    width: 9rem;
  }

  .how-to-involved {
    padding: 180px 50px;
  }
}

@media screen and (min-width: 1020px) {
  .hamburger-menu {
    display: none;
  }

  .offscreen-menu > .link {
    padding: 0;
    /* text-align: right; */
    /* display: flex;
    flex-direction: column; */
    margin: 0 10px 4px 10px;
    font-size: 26px;
  }

  .offscreen-menu > .link:hover {
    color: black;
  }

  .offscreen-menu {
    background-color: white;
    color: var(--red);
    text-shadow: 1px 1px 1px black;
    height: 10%;
    position: unset;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-around;
    font: inherit;
    max-width: 80dvw;
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    width: 50dvw;
  }

  .logo .link {
    font-size: 45px;
  }

  /* .hamburger-menu {
    margin: 50px 25px 20px 25px;
  } */

  /* .brief-bio {
    font-size: 22px;
  } */

  .landing-teaser {
    min-height: 50dvh;
  }

  .home-teaser-header {
    font-size: 6rem;
  }

  .teaser-blurb {
    font-size: 2rem;
  }

  /* .news-image,
  .project-tease-image {
    height: 18rem;
    width: 18rem;
  } */

  /* .about-header,
  .contact-header,
  .projects-header {
    font-size: 5rem;
  } */

  .team-bio-pic {
    height: 11rem;
    width: 11rem;
  }

  /* .about-body {
    justify-content: space-around;
    gap: 60px;
  } */

  /* .about-body-one {
    display: contents;
    justify-content: center;
  } */

  /* .about-image-main {
    height: 500px;
    border-radius: 6px;
    margin-left: 20px;
    margin-bottom: 20px;
  } */

  /* .about-body-two {
    margin-right: 20px;
    text-align: justify;
  } */

  /* .about-mission {
    padding-top: 30px;
  } */

  .mission-div {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/shadowday-scotop-hl.jpg");
  }

  .about-body {
    font-size: 30px;
  }

  .bios-div-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team-bio {
    width: 40%;
    padding: 25px 10px;
  }

  .team-bio-one {
    padding: 10px 0;
    justify-content: space-around;
  }

  .press-div {
    width: 18%;
  }

  .press-blurbs {
    justify-content: space-between;
    padding: 15px;
  }

  /* .how-to-involved {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */

  .engage-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }

  .one-engagement {
    width: 48dvw;
  }

  .engage-two p {
    padding: 0;
  }

  .how-to-div1,
  .how-to-div2 {
    width: 48%;
  }

  /* .project-link {
    font-size: 2rem;
  } */

  .sponsor-images {
    justify-content: center;
    gap: 50px;
  }

  .project-teasers-div {
    justify-content: space-around;
  }

  h3 {
    font-size: 4rem;
  }

  .contact-container {
    height: 70dvh;
  }

  .how-to-involved {
    padding: 120px 50px;
  }
}

/* @media screen and (min-width: 1200px) {
  .header-menu {
    width: 33dvw;
  }
} */

@media screen and (min-width: 1435px) {
  /* .header-menu {
    width: 28dvw;
  } */

  .offscreen-menu > .link {
    margin: 0 25px 4px 25px;
    font-size: 30px;
  }

  .landing-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  .brief-bio,
  .about-body {
    font-size: 26px;
    padding: 0 20px 20px 20px;
  }

  .about-quote {
    font-size: 32px;
  }

  /* .about-image-main {
    height: 400px;
    margin-right: 20px;
  } */

  /* .home-bio-links .home-bio-one-link {
    width: 12rem;
    height: 4rem;
    font-size: 22px;
    margin-top: 20px;
  }

  .brief-bio {
    font-size: 22px;
  } */

  .landing-teaser {
    min-height: 70dvh;
  }

  .home-teaser-header {
    font-size: 10rem;
  }

  .teaser-blurb {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  /* .teaser-button {
    width: 18rem;
    height: 6rem;
    font-size: 30px;
  } */
  /* 
  .news-image,
  .project-tease-image {
    height: 18rem;
    width: 18rem;
  } */

  .one-engagement {
    font-size: 24px;
  }

  .footer-container {
    font-size: 18px;
  }

  .footer-reference {
    font-size: 14px;
  }

  /* .header-container {
    padding: 10px;
  } */

  /* .mission-div {
    background-image: linear-gradient(#255f85c9, #255f85c9),
      url("/images/shadowday-scotop-hl.jpg");
  } */

  .about-body {
    font-size: 32px;
  }

  .about-mission {
    padding: 30px 5px;
  }

  .team-bio {
    /* width: 23%; */
    /* border: dotted var(--cream) 2px; */
    margin-bottom: 30px;
    border-radius: 6px;
  }

  .team-bio-pic {
    height: 9rem;
    width: 9rem;
  }

  .contact-header {
    height: 25dvh;
  }

  .project-link {
    font-size: 3rem;
  }

  .one-project {
    width: 30dvw;
    height: 35dvw;
  }

  .proj-compon-BG {
    width: 30dvw;
    height: 34dvw;
  }

  /* .project-teasers-div {
    gap: 1rem;
  } */

  /* .one-project {
    width: 23dvw;
    height: 360px;
  }

  .proj-compon-BG {
    width: 20dvw;
    height: 340px;
  } */

  /* .one-project {
    width: 23dvw;
    height: 400px;
    justify-content: start;
  } */

  /* .project-tease-image {
    height: 15rem;
    width: 15rem;
  } */

  /* .project-teasers-div {
    gap: 20px;
  } */

  .full-project-container {
    flex-direction: row;
    gap: 20px;
    padding: 20px;
  }

  .full-project-image {
    width: 50dvw;
  }

  .full-project-container h3 {
    text-align: left;
  }

  .about-sponsors {
    flex-direction: row;
    align-items: center;
    padding: 20px 5px;
    justify-content: space-between;
  }

  .sponsor-image {
    width: 15rem;
  }

  .board-bio {
    flex-direction: row;
  }

  .board-one {
    width: 30dvw;
    padding-left: 20px;
  }

  .board-two {
    width: 70dvw;
    padding-right: 20px;
  }

  .how-to-involved {
    padding: 200px 50px;
  }

  .how-to-involved p,
  .how-to-involved .link {
    font-size: 34px;
  }
}
