/*-----------------  ROOT  -----------------*/

:root {
  --red: #981f2b;
  --orange: #b25126;
  --cream: #f7f7de;
  --darkred: #771822;
  --lightred: #a92330;
  --verylightred: #f2bbc1;
  --darkorange: #974420;
  --lightorange: #d87246;
  --verylightorange: #e08b67;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

/*-----------------  BODY  -----------------*/

body {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--red);
}

.link,
button {
  font: inherit;
  text-decoration: none;
}

.link {
  color: var(--darkred);
}

.link:hover {
  cursor: pointer;
  color: var(--lightred);
}

button {
  border: solid white 1px;
}

button,
.button-link {
  border-radius: 6px;
  background-color: var(--lightred);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: var(--verylightred);
}

/*-----------------  HEADER  -----------------*/

.logo {
  height: 100px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid var(--darkred) 20px;
  background-color: rgba(255, 255, 255, 0.861);
}

.header-container > .header-menu {
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
}

/*-----------------  FOOTER  -----------------*/
.footer-container {
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0;
  padding-top: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.861);
  color: var(--darkred);
  border-top: solid var(--lightred) 20px;
}

.footer-content {
  margin: 0;
}

.social-icons {
  width: 20%;
  text-align: left;
}

.icon {
  padding: 0 1px;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid gray 0.5px;
  padding: 3px;
}

.contact-info {
  text-align: right;
}

.footer-reference {
  font-size: 12px;
  padding: 3px;
}

/*-----------------  LANDING  -----------------*/

.landing-about,
.landing-teaser,
.mission-div,
.about-team,
.about-press,
.current-projects,
.engagements-div,
.previous-works,
.how-to-involved {
  padding: 5px 0;
  border-bottom: solid var(--darkred) 20px;
  /* margin-top: 10px; */
}

.landing-about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  background: linear-gradient(var(--red), var(--lightred), var(--verylightred));
  color: white;
}

.home-teaser-header {
  font-weight: 900;
  font-style: normal;
  padding-bottom: 0;
  font-size: 40px;
  margin: 0 auto;
  text-shadow: 2px 2px 3px gray;
  color: var(--cream);
}

.brief-bio {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.home-bio-links,
.home-teaser-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.home-bio-links > button {
  width: 120px;
  height: 40px;
}

.teaser-button {
  width: 220px;
  height: 45px;
  font-size: 22px;
  background-color: var(--lightred);
  border: solid var(--cream) 1px;
}

.teaser-button:hover {
  background-color: var(--verylightred);
  cursor: pointer;
}

.landing-top-image {
  height: 225px;
  width: 150px;
  border-radius: 10px;
}

.landing-teaser {
  background-image: url("/images/scotopia-collage.jpg");
  background-size: cover;
  height: 40dvh;
  color: var(--cream);
  text-align: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.latest-news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  background: linear-gradient(var(--red), var(--verylightred));
  color: white;
}

.news-item {
  padding: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.news-image {
  height: 6rem;
  width: 6rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  object-fit: cover;
}

/*-----------------  ABOUT  -----------------*/

.about-header,
.projects-header,
.contact-header {
  background-image: url("/images/placeholder.jpeg");
  background-size: cover;
  height: 20dvh;
  color: white;
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bio-subdiv {
  padding: 0 10px;
}

.team-bio-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.press-blurbs,
.project-teasers-div {
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.press-div,
.one-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  margin: 3px;
  padding: 5px;
  width: 27dvw;
  height: 27dvh;
}

/*--------------------- RESPONSIVENESS --------------------------*/

@media screen and (min-width: 650px) {
  /*********************    LANDING    *************************/
  .home-bio-links > button {
    width: 10rem;
    height: 3rem;
    font-size: 18px;
  }

  .teaser-button {
    width: 16rem;
    height: 4rem;
    font-size: 26px;
    margin-top: 1rem;
  }

  .news-image {
    height: 9rem;
    width: 9rem;
  }
}

@media screen and (min-width: 860px) {
  /*********************    LANDING    *************************/

  .news-image {
    height: 13rem;
    width: 13rem;
    margin-top: 1rem;
  }

  .landing-about {
    font-size: 18px;
    padding: 10px 20px;
  }

  .landing-teaser {
    font-size: 26px;
    padding: 0 10px;
    text-shadow: 2px 2px 3px gray;
  }

  .home-bio-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
  }

  .news-item,
  .news-item .link {
    font-size: 18px;
  }
}
